body{
    background-color: cadetblue;
}
h1{
    color: blueviolet;
    text-align: left;
    height: 15px;
    flex-direction: column;
    flex: 50px;
    place-items: left;
    text-align: center;
    border-radius: 20PX;
}
img{
 width: 120x;
  height: 250px;
  text-align: right;
  margin: 100px;
  margin-top: 20px;
  border-radius: 100%;
  margin-left: 10px;
}
.para{
text-align:bottom;
margin-inline-end: 520px;
justify-content: first baseline;
flex-direction: column;
display: flex;
padding-bottom: 300px;
margin-bottom: 1500px;
float: right;
}
.cont{
    text-align: center;
    float: right;
    margin-inline-end: 520px;
}
.pic{
    border-radius: 50%;

}
h2{
    color: brown;
}
h3{
color: crimson;
}
h5{
    color: darkgreen;
}
p{
    line-height: 50px;
}
h4{
    color: blueviolet;
}
ol{
    align-items: flex-start;
    background-color: cornflowerblue;
}
h6{
    color: crimson;
}